{% extends "base.html" %}

{% block content %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="{{ url_for('static', filename='images/_classroom_login.png') }}" alt="IMG">
      </div>

      <form class="login100-form validate-form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <span class="login100-form-title">
          Login
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">

          {{ form.email(size=32, class='input100', placeholder='Email') }}
          <span class="focus-input100"></span>

        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          {{ form.password(size=32, class='input100', placeholder='Password') }}
          <span class="focus-input100"></span>

        </div>


{{ form.remember_me( class="custom-control-input") }}
<span class="custom-control-indicator"></span>
<span class="custom-control-description">Remember me</span>


        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type='submit'>
            Login
          </button>
        </div>

        <div class="text-center p-t-12">
          <span class="txt1">
            Forgot
          </span>
          <a class="txt2" href="#">
            Password?
          </a>
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" href="{{ url_for('home') }}">
            Back to the home page
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
        <div class="text-center">
          <a class="txt2" href="{{ url_for('register') }}">
            Create your Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>




{% endblock %}
